<main id="mainAtualizarDados">

    <div id="userPasswordContainer">
        <a href="/alterarUsuario" class="link">Alterar Usuario</a>
        <a href="/alterarSenha" class="link">Alterar Senha</a>
    </div>
    <form action="#" id="atualizarDadosForm">
        <h1 id="titleForm">Atualizar Dados</h1>
        <div class="containerDoContainer">
            <div class="inputContainer">
                <label class="labelInput">
                    Nome
                </label>
                    <input type="text" class="input" name="nome" value="{{userData.nomeCompleto}}">
            </div>
            <div class="inputContainer">
                <label class="labelInput">
                    Email
                </label>
                    <input type="email" class="input" name="email" value="{{userData.email}}">
            </div>

            <div class="inputContainer">
                <label class="labelInput">
                    Data de Nascimento
                </label>
                    <input type="text" name="dataDeNascimento" class="input" value="{{{userData.dataDeNascimento}}}">
            </div>

            <div class="inputContainer">
                <label class="labelInput">
                    Telefone
                </label>
                    <input type="text" name="telefone" class="input" value="{{userData.telefone}}">
            </div>

            <div class="inputContainer">
                <label class="labelInput">
                    Whatsapp
                </label>
                    <input type="text" name="whatsapp" class="input" value="{{userData.whatsapp}}">
            </div>
        </div>

        <div class="containerDoContainer">
            <h3 class="titleInput">Responsável Financeiro</h3>
            <div class="inputContainer">
                <label class="labelInput">
                    Nome
                </label>
                    <input type="text" class="input" name="nomeResponsavel" value="{{userData.responsavelFinanceiro.nome}}">
            </div>

            <div class="inputContainer">
                <label class="labelInput">
                    Telefone
                </label>
                    <input type="text" name="telefoneResponsavel" class="input" value="{{userData.responsavelFinanceiro.telefone}}">
            </div>

            <div class="inputContainer">
                <label class="labelInput">
                    Parentesco
                </label>
                    <input type="text" name="parentescoResponsavel" class="input" value="{{userData.responsavelFinanceiro.parentesco}}">
            </div>

        </div>

        <div class="containerDoContainer">
            <h3 class="titleInput">Contato de Emergência</h3>
            <div class="inputContainer">
                <label class="labelInput">
                    Nome
                </label>
                    <input type="text" name="nomeContatoEmergencia" class="input" value="{{userData.contatoEmergencia.nome}}">
            </div>

            <div class="inputContainer">
                <label class="labelInput">
                    Telefone
                </label>
                    <input type="text" name="telefoneContatoEmergencia" class="input" value="{{userData.contatoEmergencia.telefone}}">
            </div>

            <div class="inputContainer">
                <label class="labelInput">
                    Parentesco
                </label>
                    <input type="text" name="parentescoContatoEmergencia" class="input" value="{{userData.contatoEmergencia.parentesco}}">
            </div>

        </div>
            <div class="inputContainer">
                <label class="labelInput">
                    Problema de Saúde
                </label>
                    <textarea type="text" name="problemaDeSaude" class="input textArea">{{{userData.problemaDeSaude}}}</textarea>
            </div>
        <input type="submit" value="Atualizar" id="submit">
        <div id="validacaoContainer"></div>
    </form>
</main>

<script src="../js/atualizarDadosCliente.js"></script>